################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern/GOFDesignPatterns/.vs
/DesignPattern/GOFDesignPatterns/AbstractFactory/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/GOFDesignPatterns/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/GOFDesignPatterns/obj
/DesignPattern/GOFDesignPatterns/AbstractFactory/obj
/DesignPattern/GOFDesignPatterns/Builder/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Builder/obj/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Builder/obj
/DesignPattern/GOFDesignPatterns/FactoryMethod/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/FactoryMethod/obj
