################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern/GOFDesignPatterns/.vs
/DesignPattern/GOFDesignPatterns/AbstractFactory/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/GOFDesignPatterns/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/GOFDesignPatterns/obj
/DesignPattern/GOFDesignPatterns/AbstractFactory/obj
/DesignPattern/GOFDesignPatterns/Builder/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Builder/obj/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Builder/obj
/DesignPattern/GOFDesignPatterns/FactoryMethod/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/FactoryMethod/obj
/DesignPattern/GOFDesignPatterns/Prototype/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Prototype/obj/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Prototype/obj
/DesignPattern/GOFDesignPatterns/Singleton/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Singleton/obj
/DesignPattern/GOFDesignPatterns/Adapter/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Adapter/obj
/DesignPattern/GOFDesignPatterns/Bridge/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Bridge/obj
/DesignPattern/GOFDesignPatterns/Composite/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Composite/obj
/DesignPattern/GOFDesignPatterns/Decorator/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Decorator/obj
/DesignPattern/GOFDesignPatterns/Facade/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Facade/obj
/DesignPattern/GOFDesignPatterns/FlyWeight/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/FlyWeight/obj
/DesignPattern/GOFDesignPatterns/Proxy/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Proxy/obj
/DesignPattern/GOFDesignPatterns/ChainOfResponsibility/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/ChainOfResponsibility/obj
/DesignPattern/GOFDesignPatterns/Command/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Command/obj
/DesignPattern/GOFDesignPatterns/Interpreter/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Interpreter/obj
/DesignPattern/GOFDesignPatterns/Interator/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Interator/obj
/DesignPattern/GOFDesignPatterns/Mediator/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Mediator/obj
/DesignPattern/GOFDesignPatterns/Memento/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Memento/obj
/DesignPattern/GOFDesignPatterns/Observer/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Observer/obj
/DesignPattern/GOFDesignPatterns/State/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/State/obj
/DesignPattern/GOFDesignPatterns/Strategy/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Strategy/obj
/DesignPattern/GOFDesignPatterns/Template/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Template/obj
/DesignPattern/GOFDesignPatterns/Visitor/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Visitor/obj
/ToDoList/DBAccess/DBAccess/bin/Debug/netcoreapp2.2
/ToDoList/DBAccess/DBAccess/obj
/ToDoList/DBAccess/ToDoList.API/bin/Debug/netcoreapp2.2
/ToDoList/DBAccess/.vs
/ToDoList/DBAccess/ToDoList.API/obj
/DatingApp/Backend/DatingApp/DatingApp/bin/Debug/net5.0
/DatingApp/Backend/DatingApp/.vs/DatingApp
/DatingApp/Backend/DatingApp/DatingApp/obj
/DatingApp/Backend/DatingApp/DBWrapper/bin/Debug/netstandard2.0
/DatingApp/Backend/DatingApp/DBWrapper/obj
