################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DesignPattern/GOFDesignPatterns/.vs
/DesignPattern/GOFDesignPatterns/AbstractFactory/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/GOFDesignPatterns/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/GOFDesignPatterns/obj
/DesignPattern/GOFDesignPatterns/AbstractFactory/obj
/DesignPattern/GOFDesignPatterns/Builder/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Builder/obj/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Builder/obj
/DesignPattern/GOFDesignPatterns/FactoryMethod/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/FactoryMethod/obj
/DesignPattern/GOFDesignPatterns/Prototype/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Prototype/obj/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Prototype/obj
/DesignPattern/GOFDesignPatterns/Singleton/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Singleton/obj
/DesignPattern/GOFDesignPatterns/Adapter/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Adapter/obj
/DesignPattern/GOFDesignPatterns/Bridge/bin/Debug/netcoreapp2.2
/DesignPattern/GOFDesignPatterns/Bridge/obj
